<div class="thank-you-wrapper">
  <div class="thank-you-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="80"
      height="80"
      fill="#007bff"
      class="bi bi-check-circle mb-3"
      viewBox="0 0 16 16"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.97 10.97l-3.5-3.5 1.414-1.414L6.97 8.142l4.243-4.243 1.414 1.414-5.657 5.657z"
      />
    </svg>
    <h1>Thank You!</h1>
    <p>
      Your booking has been submitted successfully. We will confirm your ride
      shortly.
    </p>
    <a routerLink="/" class="btn btn-primary">Back to Home</a>
  </div>
</div>
